<div class="container">

  <div class="jumbotron text-center">
    <h1>NCR TRACKER</h1>
    <p>Created this 'Tracker' as it was painful to checkout the tracker first than update it and chekin.
    Sometime need to wait if someone else has taken checkout.</p>
  </div>

  <!-- Image -->
  <div class="row">
    <h1>Created By : Rahul Choudhary</h1>

      <div class="col-md-12">
        <h1>Details</h1>
          Name : Rahul Choudhary<br>
          Employe ID : 103605<br>
          QL ID : RC250339<br>
          Email : RC250339@NCR@COM<br>
          Mobile : 9582816659<br>
          Git Hub : https://github.com/choudharyRahul22/Angular<br>
      </div>

  </div>



</div>
