<div class="container">

  <div class="jumbotron text-center">
    <h1>NCR TRACKER</h1>
    <p>Created this 'Tracker' as it was painful to checkout the tracker first than update it and chekin.
    Sometime need to wait if someone else has taken checkout.</p>
  </div>


  <div class="row">
      <div class="col-md-12">
        <pre class="pre-scrollable">
          Name : Rahul Choudhary
          Employe ID : 103605
          QL ID : RC250339
          Email : RC250339@NCR@COM
          Mobile : 9582816659
          Git Hub : https://github.com/choudharyRahul22/Angular</pre>
      </div>

  </div>

  <hr>

  <div class="col-md-6">
    <button type="button" class="btn btn-primary" routerLink="/tracker">Tracker</button>
    <button type="button" class="btn btn-primary" routerLink="/track">Track</button>
    <button type="button" class="btn btn-primary" routerLink="/dashboard">Dashboard</button>
  </div>

  <hr>

  <br><br>
</div>
