<label>Server Name</label>
<input type="text" class="form-control" [(ngModel)]="serverName">
<br>
<button class=".btn btn-success" (click)="onCreateServer()">Add Server</button>
<hr>
Toggle:
<p *ngIf="showServerName">{{serverName}}</p>
<hr>
Loop:
<div *ngFor="let logItem of log" [ngStyle]="{backgroundColor: logItem >= 5 ? 'green' : 'transparent'}"
[ngClass]="{'white-text': logItem >= 5}">{{logItem}}</div>
<hr>

Now on click we get Date:
<br>
<button class=".btn btn-success" (click)="onCreateDate()">Add Server</button>
<hr>
Toggle:
<p *ngIf="showServerName">{{serverName}}</p>
<hr>
Loop:
<div *ngFor="let dateItem of date; let i = index" [ngStyle]="{backgroundColor: i >= 5 ? 'green' : 'transparent'}"
     [ngClass]="{'white-text': i >= 5}">{{dateItem}}</div>
<hr>
<app-server></app-server>
<app-server></app-server>
